<h1>Editing Group</h1>

<%= render 'form', group: @group %>

<div class="text-end mt-3 mb-4">
  <%= link_to 'Show', @group, class: 'btn btn-outline-primary me-2' %>
  <%= link_to 'Back', groups_path, class: 'btn btn-outline-primary' %>
</div>
