<h1>Editing Game</h1>

<%= render 'form', game: @game %>

<div class="text-end mt-3 mb-4">
  <%= link_to 'Show', @game, class: 'btn btn-outline-primary me-2' %>
  <%= link_to 'Back', games_path, class: 'btn btn-outline-primary' %>
</div>
