<h1>Editing Card</h1>

<%= render 'form', card: @card %>

<div class="text-end mt-3 mb-4">
  <%= link_to 'Show', @card, class: 'btn btn-outline-primary me-2' %>
  <%= link_to 'Back', cards_path, class: 'btn btn-outline-primary' %>
</div>
