<h1>Editing Deck</h1>

<%= render 'form', deck: @deck %>

<div class="text-end mt-3 mb-4">
  <%= link_to 'Show', @deck, class: 'btn btn-outline-primary me-2' %>
  <%= link_to 'Back', decks_path, class: 'btn btn-outline-primary' %>
</div>
